<div class="jumbotron">
  <div class="row">
    <div class="alert alert-warning col-sm-11" role="alert" ng-show="mensagem">
      <button type="button" class="close" ng-click="mensagem = ''">
        <span aria-hidden="true">&times;</span>
      </button>
      {{mensagem}}
    </div>

    <form class="form-horizontal" ng-submit="enviarEntidade()">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">{{entidade.model}}</h3>
        </div>

        <div class="panel-body">
          <div class="form-group" ng-repeat="campo in entidade.fields">
            <div class="col-sm-11">

              <input ng-if="campo.type == 'String'" type="text" class="form-control" placeholder="{{campo.name}}" ng-model="fields[campo.name]" ng-required="campo.required">
              <input ng-if="campo.type == 'Integer'" type="number" class="form-control" placeholder="{{campo.name}}" ng-model="fields[campo.name]" ng-required="campo.required">
              <input ng-if="campo.type == 'Double'" type="number" step="0.01" class="form-control" placeholder="{{campo.name}}" ng-model="fields[campo.name]" ng-required="campo.required">
              <div class="checkbox" ng-if="campo.type == 'Boolean'">
                <label>
                  <input type="checkbox" ng-model="fields[campo.name]" ng-init="fields[campo.name]=false">
                  {{campo.name}}
                </label>
              </div>

            </div>
            <div class="col-sm-1">
              <span ng-show="campo.required" class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
            </div>
          </div>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <a href="/" class="btn btn-default">voltar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>
      </div>
    </form>

    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th ng-repeat="campo in entidade.fields">{{campo.name}}</th>
            <th>ações</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dado in dados">
            <td ng-repeat="campo in entidade.fields">{{dado[campo.name]}}</td>
            <td class="col-xs-1">
              <button class="btn btn-success btn-xs" type="button" title="Editar" ng-click="editar(dado)">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </button>
              <button class="btn btn-danger btn-xs" type="button" title="Ecluir" ng-click="excluirEntidade(dado)">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
